h1{
    margin-left: 28%;
   
    
}
h4{
    margin-left:30%;
  
}
h3{
    margin-left:35%;
    
}
 .main{ 
    background-color: peachpuff;
}
.head{
    background-color: skyblue;
    margin-top:-8px;
    padding: 20px; 
 } 
    
a{
    margin-left: 20px;
    color: white;
}
.side {
    margin-left: 65%;
}
/* .base{
    
} */
