<div class='main'>

<h4>{{title}}</h4>
<h1>{{title1}}</h1>
<h3>{{title2}}</h3>
</div>

<div class ='head'>
    
    <a routerLink=''>Home</a>
    <a routerLink='about'>About</a>
    <a routerLink='mission'>Mission</a>
    <a routerLink='contactus'>Contact Us</a>
   
    <a class= 'side' routerLink='login'>Login</a>
    <!-- <a routerLink='sign'>Sign In</a> -->
    <!-- <a routerLink="/logout">Logout</a> -->
    
    <!-- <a class="nav-link" style="cursor:pointer"  *ngIf="_auth.loggedIn()" (click)="_auth.logoutUser()">Logout</a> -->
    

</div>

