<div class="west">
<p>The Civil Supplies Department discharges the important responsibilities of public distribution, enforcement of market discipline and promotion of consumer awareness and protection of their interest. In the 60s and 70s it won many accolades for the pioneering achievements in the implementation of Universal Rationing System.The Department of Civil Supplies functions under the Department of Food, Civil Supplies and Consumer Affairs of the Government of Kerala.<br>
 
    Kerala has the privilege of having the best system of Public Distribution System in the whole country. The system is evenly spread over the whole State without any distinction between urban or rural. To ensure equitable distribution of the food grains at a fairly low cost to all people especially to the weaker sections of the population. There is a very good network of wholesale and retail outlets for the distribution of rationed articles under the Public Distribution System. <br>


    Haritha Keralam, the first Mission seeks to create an environment friendly approach, focusing on organic farming, water conservation and waste management.<br>
     
    The dream of each landless and homeless family to have a safe and secure roof over their head will be realized through the LIFE Mission, which will ensure Livelihood, Inclusion and Financial Empowerment for all homeless in the state.<br>
     
    Focusing on the next generation, Education Rejuvenation Mission will take the State forward from universalisation of education to modernization of education, with smart classrooms, digital libraries, IT enabled learning and contemporary syllabus.<br>

    The Civil Supplies Department discharges the important responsibilities of enforcement of Public Distribution system, ensuring the discipline at markets as well as promotion of consumer awareness and protection of their interests.<br> The Public Distribution System came into existence in the State, with effect from 01/07/1965. Keeping in view the importance and need of promotion of consumer awareness and protection of their rights, Government have formed a separate wing at the Food, Civil Supplies and Consumer Affairs Department in the State Secretariat to attend the subject, Consumer Affairs.<br> The District Supply Office is functioning at the Civil Station, Kottayam.<br> There are 5 Taluk Supply Offices under the District Supply Office. There are 991 ration shops in these Taluks.
</p>
</div>
     
