.box{
    padding-bottom: 200px;
}
/* .nav-link{
  padding-bottom: 100px;
} */
p{
    margin-bottom: -12px;
}
 .space{
    margin-top: 75px;
    margin-top:-95px;
} 
.nav-link{
    padding-top:20px;
    margin-top: -25px;
}