<div class="card">
  <form (ngSubmit)="AddProduct()">
      <div class="card-header">
          {{title}}
      </div>
      <div class="card-body">
          <div class="table-responsive">
              <table class="table">
                  <tbody>                     
                      <tr>
                          <td>
                              <label>Product No</label>
                          </td>
                          <td>
                              <input type="text" name="p_no" [(ngModel)]="productItem.productNo" required>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <label>Product Name</label>
                          </td>
                          <td>
                              <input type="text" name="p_name" [(ngModel)]="productItem.productName" required>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <label>Product Code</label>
                          </td>
                          <td>
                              <input type="text" name="p_code" [(ngModel)]="productItem.productCode" required>
                          </td>
                      </tr>
                     
                     
                      <tr>
                          <td>
                              <label>Product Price</label>
                          </td>
                          <td>
                              <input type="text" name="p_price" [(ngModel)]="productItem.price" required>
                          </td>
                      </tr>
                     
                      <tr>
                          <td>
                          </td>
                          <td>
                              <input type="submit" value="Submit">
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </form>
</div>
