<li class="nav-item">
  <!-- <a class="nav-link" routerLink="/add">Add Product</a> -->
 
 
  <a class="nav-link" style="cursor:pointer"  *ngIf="_auth.loggedIn()" (click)="_auth.logoutUser()">Logout</a>
  </li>
<div class="card">
  <div class="card-header">
      <b>{{title}}</b>
      <button  class="btn btn-warning" routerLink="/add">Add Product</button>
      <button  class="btn btn-link" routerLink="/list2">BPL LIST</button>
  </div>
   
  <div class="card-body">
      <div class="table-responsive">
          <table class="table">
              <thead>
                <tr>
                 
                  <th scope="col">Product No</th>
                  <th scope="col">ProductName</th>
                  <th scope="col">Code</th>
                  <th scope="col">Price</th>
                  
                  <th></th>
                </tr>
              </thead>
              <tbody>
                 <tr *ngFor='let product of products'>  
                    <!-- <td>
                      <img *ngIf='showImage' 
                     [src] = 'product.imageUrl'
                      [title]  = 'product.productName'
                      [style.width.px]  = 'imageWidth'
                      [style.margin.px]  = 'imageMargin'>
                  </td> -->
                    <!-- <td>{{product._id}}</td> -->
                    <td>{{ product.productNo }}</td>
                    <td>{{ product.productName }}</td>
                    <td>{{ product.productCode }}</td>
                    <td>{{ product.price }}</td>
                    <td>   
                      <button *ngIf="_auth.loggedInAdmin()" class="btn btn-danger" (click)= "ondlt(product)" style="margin-right: 16px">Delete</button>
                      <button *ngIf="_auth.loggedInAdmin()" class="btn btn-primary" (click)="onedit(product)">Update</button>
                     </td>
                   </tr>
              </tbody>
            </table>
      </div>
  </div>
</div>




